{% extends 'chat/basic.html' %}
{% block title %}room{% endblock %}
<!-- new code -->

{% block css %}

body{
background-image:url('/static/shop/contactbg1.jpg');
    height:max-content;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.contactForm{
width:80%;
margin-top:30px;
padding:50px;
background:#fff;
}
.contactForm h2{
padding-bottom:40px;
padding-top:40px;
font-size:30px;
color:#333;
font-weight:500;
}
.contactForm .inputBox{
position:relative;
width:100%;
margin-top:20px;
padding-top:20px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
width:100%;
padding:5px 0;
font-size:16px;
margin:10px 0;
border:none;
border-bottom:2px solid #333;
outline:none;
resize:none;
}
.btnmessage
{
width:100px;
background:#00bcd4;
color:#fff;
cursor:pointer;
outline:none;
padding:10px;
font-size:18px;
border:none;
border-radius:10px;
}

@media (max-width:991px)
{
.container{
flex-direction:column;
}
.contactForm
{
width:100%;
}
}



{% endblock %}



{% block body %}


<div class="container">
        <div class="contactForm">
            <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
                <h2>Enter the Book Name which you want to discuss!</h2>
                <div class="inputBox">
    <input type="text" class="form-control my-3" name="room_name" id="room_name" placeholder="Email" required>


                </div>
                <div class="inputBox">
                    <input type="text" class="form-control my-3" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="inputBox">
                    <button type="submit" class="btnmessage">Enter</button>

                </div>
            </form>
        </div>
        </div>




{% endblock %}