{% extends 'shop/basic.html' %}

{% block css %}

body{
background-image:url('/static/shop/about.jpg');
    height:max-content;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

}
body h1,
body h4{
margin:30px;
}

{% endblock %}


{% block title %} About us{% endblock %}
{% block body %}

<h1 style="..." class="my-4">Hey! We are The Bookworm Shack.</h1><hr>

<h4 style="..." class="my-4"> If you are not able to quench your thirst for books, you have come at right place. This website is built to help
    bookworms find all types of books at one place. Here you can discuss, about your favourite books with other readers too. You can even track
    the books you have ordered. We are available to answer all your queries.
</h4>

{% endblock %}
{% block js %}
<script>



</script>
{% endblock %}