{% extends 'shop/basic.html' %}
{% block title%} Checkout - My Awesome Cart{% endblock %}
{% block css %}

body{
background-image:url('/static/shop/background.jpg');
    height:max-content;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#addressform{
width:50%;
padding:40px;
background:#fff;
margin-right:150px;
}

.inputBox{
position:relative;
width:100%;
margin-top:10px;

}

.inputBox input,
.inputBox textarea{
width:100%;
padding:5px 0;
font-size:16px;
margin:10px 0;
border:none;
border-bottom:2px solid #333;
outline:none;
resize:none;
}

.btnaddress
{
width:100px;
background:#00bcd4;
color:#fff;
cursor:pointer;
outline:none;
padding:10px;
font-size:18px;
border:none;
border-radius:15px;
}

@media (max-width:991px)
{
.container
{
padding:50px;
}
.row{
flex-direction:column;
}
.row #addressform
{
margin-bottom:40px;
}
.row #addressform,
#checkoutpage
{
width:100%;
}
}




{% endblock %}


{% block body %}

<div class="container my-4">
    <div class="row">
    <div class="col-md-8" id="addressform">
    <h2>Enter Address & Other Details:</h2>
        <form method="post" action="/shop/checkout/">{% csrf_token %}
           <input type="hidden" name="itemsJson" id="itemsJson">
            <div class="inputBox">
                    <label for="inputname"></label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="inputBox">
                    <label for="inputEmail4"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
            <div class="inputBox">
                <label for="inputAddress"></label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="Address" required>
            </div>

            <div class="inputBox">
                <label for="inputAddress2"></label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Address Line 2" >
            </div>

            <div class="inputBox">
                <label for="inputCity"></label>
                    <input type="text" class="form-control" id="City" name="city" placeholder="City" required>
            </div>
            <div class="inputBox">
                <label for="inputState"></label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="State" required>

            </div>
            <div class="inputBox">
                   <label for="inputZip"></label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Zip Code" required>
            </div>

                <div class="inputBox">
                    <label for="inputZip"></label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                </div>

                <div class="inputBox">
                    {% if user.is_authenticated %}
            <button type="submit" class="btnaddress my-3">Order</button>
        {% else %}
            <button type="submit" class="btnaddress my-3" disabled>Order</button><br>
    Please login to post a comment
    {% endif %}


                </div>



        </form>
    </div>

        <div class="col-md-4" id="checkoutpage">
           <h2>Checkout - Review Your Cart Items</h2>
        <div class="my-4">
            <ol class="list-group list-group-numbered" id="items">

            </ol>
        </div>
    </div>
    </div>
</div>



{% endblock %}


{% block js %}

<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));

}





console.log(cart);
var sum = 0;
if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        sum = sum + qty;
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                 <div class="ms-2 me-auto">
                       <div class="fw-bold">${name}</div>
                 </div>
                  <span class="badge bg-primary rounded-pill">${qty}</span>

                </li>`
        $('#items').append(mystr);
    }
}
document.getElementById('cart').innerHTML = sum;


$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert("Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker")
localStorage.clear();
document.location="/shop";
{%endif%}







</script>



{% endblock %}

